.register{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .left-panel{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container{
            width:70%;
            display: flex;
            flex-direction: column;
            
            input{
                width:70%;
                height:40px;
                border: none;
                border-bottom: 1px solid;
                font-size: 16px;
                margin-top: 8%;
            }
            input:focus{
                outline: none;
            }
            h1{

            }
        }
    }
    .right-panel{
        width: 50%;
        height: 100%;
        background-image: url("../../assets/bg_image.jpg");
        background-size: cover;


    }
}